.mainheader{
    background-color: black;
    margin: -8px;
}
.div1{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
}
.leftdiv{
    background-color: black;
    /* height: 500px; */
    width: 50%;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
}
.rightdiv{
    background-color: rgb(0, 0, 0);
    /* height: 500px; */
    width: 50%;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.piechart{
    --p:20;
    --b:22px;
    --c:darkred;
    --w:150px;
    width: var(--w);
    aspect-ratio: 1;
    position: relative;
    display: inline-grid;
    margin: 5px;
    place-content: center;
    
}